<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <h1 style="text-align: center;"> POKEDEX </h1>

    <div>
        <a id="new-poke-bt" href="/pokemon/new"> BUILD NEW POKEMON </a>
    </div>
    <div id="show-pokemon" style="text-align: center">
    <% for(let i=0; i < data.length; i++) { %>
        <div id="each-pokemon">
            <a href="/pokemon/<%=i%>"><img src="<%= data[i].img%>"></a>
            <h4>
                <%= data[i].name %>
            </h4>
            <form action="/pokemon/<%=[i]%>?_method=DELETE" method="POST">
                <input type="submit" value="REMOVE">
            </form>
            <div style="margin-top: 10px;">
                <a id="edit-bt" href="/pokemon/<%=i%>/edit">Edit</a>
            </div>
        </div>


        <% } %>
    </div>
</body>

</html>